* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}
body {
  font-family: "Quattrocento Sans", sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
}
button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
header {
  width: 100%;
  height: 10vh;
}

 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #071435;
  color: white;
  z-index: 1;
}
.fas.fa-bars {
  display: none;
  margin-right: 23px;
  font-size: 25px;
  color: white;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0;
}
.navbar ul li {
  padding: 21px;
  margin-left: 22px;
}
.fa-shopping-cart {
  position: absolute;
  content: "\f07a";
  color: white;
  padding-right: 15px;
  margin-right: 2px;
  font-size: 1rem;
}
.navbar li:hover {
  background-color: #41b57d;
  cursor: pointer;
}
.brand-title {
  font-size: 34px;
  list-style: none;
  color: white;
}

/* cart */
.cart-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 500px;
    background-color: rgb(168, 179, 179);
    z-index: -1;
  }
  .cart-table {
    position: absolute;
    background-color: #e6e6e6;
    top: 10%;
    left: 5%;
    width: 65%;
    height: auto;
  }
  .table ,td,th {
    border-bottom: 2px solid rgb(153, 153, 153);
    text-align: left;
  }
  .table {
    position: absolute;
    border-collapse: collapse;
    width: 71%;
    height: auto;
    top: 10%;
    left: 16%;
    border-bottom: 3px solid #51aa78;
    background-color: #e6e6e6;
  }
  
  th,
  td {
    padding: 8px;
  }
  
  .item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    margin: 0px 0px -2px 0px;
  }
  
  .item .item-img {
    display: inline-block;
    width: 31%;
    height: 67px;
    background-image: url(../images/home/SmartPhone.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
  }
  .item .item-description {
    display: inline-block;
    margin-bottom: 28px;
  }
  .item-quantity span {
    margin-right: 6%;
    margin-left: 6%;
  }
  .item-total {
    align-items: center;
  }
  
  .total-order {
    margin-left: 62%;
    margin-top: 24%;
    width: 25%;
    height: 29%;
    display: flex;
    justify-content: flex-end;
  }
  .total-order table{
    border-top: 2px solid gray;
    width: 100%;
    max-width: 350px;
  }
  /* 
  .order-container {
    position: sticky;
    margin-left: 77%;
    margin-top: 4%;
    width: 14%;
    height: 59%;
    border-radius: 3px;
    background-color: #eaeaea;
  }
  .order-container {
    position: sticky;
    margin-left: 56%;
    margin-top: 14%;
    width: 31%;
    height: 40%;
    border-radius: 3px;
    background-color: #eaeaea;
  }
  .order-head h5 {
    margin-top: 2%;
    font-size: 21px;
  }
  .summry-main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex: auto;
    background-color: rgb(207 207 207);
    width: 100%;
    height: 60%;
    border-bottom: 2px solid #51aa78;
    border-top: 2px solid #51aa78;
  }
  .summry-main h6 {
    display: flex;
    justify-content: flex-start;
    font-size: 23px;
  }
  .summry-main span{
    display: flex;
    justify-content: flex-end;
  }
  .total h3 {
    display: inline-block;
    margin-left: 3%;
    margin-right: 63%;
    margin-bottom: 0px;
    margin-top: 25px;
    font-size: 19px;
  }
  
  .checkout-button {
    position: sticky;
    margin-top: 18%;
    width: 100%;
    height: 19%;
    border-radius: 10px;
    background-color: #51aa78;
    color: white;
    font-size: 19px;
    cursor: pointer;
  } */
  
/*  */


footer {
  /* position: absolute; */
  height: 21vh;
  background-color: #071435;
  padding: 18px;
  top: 147vh;
}

.contact-us {
  display: inline-block;
  color: #8691a7;
  border-right: solid 1px;
  padding-right: 3%;
}
.contact-us h3 {
  margin-bottom: 3%;
}
.follow-us {
  display: inline-block;
  width: 29%;
  color: #8691a7;
  padding: -8px;
  border-right: solid 1px;
  margin-left: 3%;
}
.follow-us h4 {
  margin-top: 2px;
}

.follow-us img {
  width: 12%;
  padding: 0%;
  filter: none;
  margin-right: 6%;
  margin-top: 3%;
}
.follow-us img:hover {
  filter: invert(1);
}



/* home-page-responsive */

/* @media only screen and (min-width: 320px) and (max-width: 553px) {
  .banner .circle-drone-bg img {
    display: none;
  }
  .banner h1 {
    font-size: 4rem;
    top: 27%;
  }
  .banner h2 {
    font-size: 3rem;
    top: 51%;
  }

  .circle-drone-bg {
    display: none;
  }
}

 @media only screen and (min-width: 553px) and (max-width: 733px) {
    .banner h1 {
      font-size: 4rem;
    }
    .banner h2 {
      font-size: 3rem;
    }
  } 

 @media only screen and (min-width: 733px) and (max-width: 850px) {
    .banner h1 {
      font-size: 5rem;
    }
  } 

@media only screen and (min-width: 320px) and (max-width: 730px) {
  .Drones-cat {
    position: absolute;
    border-radius: 2%;
    background-color: #ffffff;
    height: 20%;
    width: 96%;
    top: 2%;
    left: 2%;
    border: 1px solid gray;
  }
  .Drones-cat img {
    display: none;
  }
  .Drones-cat h3 {
    text-align: center;
  }
  .computers-cat {
    width: 96%;
    height: 22%;
    left: 2%;
    top: 24%;
  }
  .computers-cat h3 {
    top: 26%;
    right: 40%;
  }
  .computers-cat img {
    display: none;
  }
  .Consoles-cat img {
    display: none;
  }
  .Consoles-cat {
    position: absolute;
    border-radius: 2%;
    background-color: #ffffff;
    width: 96%;
    height: 21%;
    left: 2%;
    top: 48%;
  }
  .Consoles-cat h3 {
    top: 28%;
    right: 28%;
  }

  .Mobiles-cat {
    width: 96%;
    height: 22%;
    left: 2%;
    top: 71%;
  }
  .Mobiles-cat h3 {
    text-align: center;
    top: 30%;
    right: 25%;
  }
  .Mobiles-cat img {
    display: none;
  }
} */

/* nav bar and footer */
@media only screen and (max-width: 561px) {
  .navbar ul {
    position: absolute;
    right: 0;
    top: 51px;
    padding: 0;
    margin: 0;
    background-color: #071435;
    display: initial;
  }
  .navbar ul li {
    margin-top: 10px;
    margin-left: 0px;
  }
  .navbar ul.hide-menu {
    display: none;
  }
  .fa-shopping-cart:before {
    content: "\f07a";
    position: absolute;
    top: 278px;
    right: 106px;
  }
  #itemCounter {
    display: none;
  }
  i.fas.fa-bars {
    user-select: none;
    display: block;
  }
  .contact-us {
    display: block;
    color: #8691a7;
    padding-right: 3%;
  }
  .follow-us {
    display: block;
    color: #8691a7;
    width: initial;
    padding: -8px;
    border-right: none;
    margin-left: 0;
    margin-top: 14px;
  }
  .follow-us img {
    width: 7%;
  }
  footer {
    height: auto;
  }
}
@media only screen and (min-width: 561px) and (max-width: 728px) {
  .navbar ul li {
    padding: 19px;
    margin: 1px 0px 1px 1px;
  }
}

/* pages */

@media only screen and (min-width: 600px) and (max-width: 963px) {
  #cards-container .card {
    width: 28%;
    /* background-color: lawngreen !important; */
  }
}
@media only screen and (min-width: 500px) and (max-width: 600px) {
  #cards-container .card {
    width: 40%;
    /* background-color: lawngreen !important; */
  }
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
  #cards-container .card {
    width: 60%;
    margin-left: 74px;
  }
}
